<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>ch.flet.safari.jsonformatter</string>
       <key>Developer Identifier</key>
       <string>7X732ETE87</string>
       <key>CFBundleVersion</key>
       <string>2</string>
       <key>CFBundleShortVersionString</key>
       <string>1.0.1</string>
       <key>URL</key>
       <string>http://github.com/downloads/rfletcher/safari-json-formatter/JSON%20Formatter-1.0.1.safariextz</string>
     </dict>
   </array>
</dict>
</plist>