<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
    <key>DefaultValue</key>
    <false/>
    <key>Key</key>
    <string>unescape_unicode</string>
    <key>Title</key>
    <string>Unescape Unicode</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <true/>
    <key>Key</key>
    <string>sort_keys</string>
    <key>Title</key>
    <string>Sort Object Keys</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
  <dict>
    <key>DefaultValue</key>
    <true/>
    <key>Key</key>
    <string>fold_strings</string>
    <key>Title</key>
    <string>Auto-Fold Long Strings</string>
    <key>Type</key>
    <string>CheckBox</string>
  </dict>
	<dict>
		<key>DefaultValue</key>
		<real>512</real>
		<key>Key</key>
		<string>long_string_length</string>
		<key>Title</key>
		<string>"Long String" Threshold (bytes)</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
